<h2>Word: <%= @text.text %></h2>

<h3>Definitions:</h3>

  <% if @text.definitions.any? %>
    <ol>
      <% @text.definitions.each do |definition| %>
        <li><a href="/words/<%= @text.id %>/definitions/<%= definition.id %>"><%= definition.content %></a></li>
      <% end %>
    </ol>
  <% else %>
    <p>There are no definitions for this word yet.</p>
  <% end %>

<h4>Add a Definition:</h4>

<form action="/words/<%= @text.id %>/definitions" method="post">
  <div class="form-group">
    <label for="definition">Definition:</label>
    <textarea name="definition" rows="4" cols="40" class="form-control" type="text"></textarea>
  </div>
  <button type="submit" class="btn btn-success">Add a Definition</button>
</form>
<br>

<p><a href="/words/<%= @text.id %>/edit">Edit a Word</a></p>
<a href="/words">Return to list of Words</a>
<br>